.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 20vh;
  object-fit: cover;
}

.fighter-preview___text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background: #ffdfa7;
  margin-top: 5px;
  border: 5px solid #ca9650;
}

.fighter-preview___text-wrapper h2{
  color: black;
}

.fighter-preview___text-element{
  color: black;
  text-transform: capitalize; 
}

.modal-root .fighter-preview___img {
  height: 100%;
}